@model IEnumerable<GestionClinic.Appointement>

@{
    ViewBag.Title = "ViewAppointment";
}
<!DOCTYPE html>
<html>
<head>
    <title>Patient</title>
    <link rel="stylesheet" href="~/Content/css/StyleP3.css">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<header>
    <h1><span>Patient</span></h1>
    <nav>
        <ul>
            <li>@Html.ActionLink(" MyInfo", "PatientHome", "Patients", new { id = Session["userId"] }, null)</li>
            <li>@Html.ActionLink("Book Appointment ", "CreateAppointment", "Appointements", new { id = Session["userId"] }, null)</li>
            <li>@Html.ActionLink(" View Appointment", "ViewAppointment", "Appointements", new { id = Session["userId"] }, null)</li>
            <li>@Html.ActionLink("Logout", "Index", "home1")</li>

        </ul>
    </nav>

</header>
<body>
    <br />
    <p><h4>Appointements List:</h4></p><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
               Doctor:  @Html.DisplayNameFor(model => model.Doctor.FullName)
            </th>
            <th>
               Patient: @Html.DisplayNameFor(model => model.Patient.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Name)
                </td>
            </tr>
        }

    </table>

   
</body>
</html>